.forgot {
    width: 50%;
    align-self: center;

    @media only screen and (max-width: $bp-mobile) {
        width: 100%
    }

    &__form {
        @media only screen and (max-width: $bp-mobile) {
            grid-gap: 3rem;
        }
    }

    &__btn {
        margin: 0;
    }

    &__message {
        font-size: 2rem;
        color: #00FF19;
        text-align: center;
    }
}