.login {
    align-self: center;
    width: 50%;

    @media only screen and (max-width: $bp-mobile) {
        width: 100%
    }

    &__form {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }

    &__redirect {
        a,
        a:visited {
            color: #FFA842;
        }
    }

    &__forgot-password {
        text-align: right;
        
        a,
        a:visited {
            font-size: 1.6rem;
            color: #fff;
            text-decoration: none;
        }
    }
}