.resubmit {

    &__form {
        grid-template-columns: repeat(2, 1fr);

        @media only screen and (max-width: $bp-mobile) {
            grid-template-columns: 1fr;
            grid-gap: 3rem;
        }
    }

    &__btn {
        margin: 0;
    }
}